/* USUAL STUFF */
body { margin:10px auto; text-align:center; }
.content { max-width:800px;text-align:left; margin:auto; }

/* THE DIV */
.simple-ss {
  width:500px;
  height:250px;
  background-color:red;
  margin:auto;
  background-image:url("https://lh3.googleusercontent.com/iwS1zyxOTtzN8psQmOx_y7bnO0m-rVIEDiNLBtAvi62zOYRQo9vEnXHcTPv-eshmQIrwCjOif_E0wxWXyJo-LZFu7aBw5-wC5ycOxWCWmHJNGMRfkoBIBtYe6E2TnEupGZwwwIg7f6bdOtjzCHaj_ND3EAPW9wef5d5b4x81s4hKioC53Rog6EJxROGklD27p3oXU_SR62SQpxeydocx2rJj0XCOTKeT7FoJiepkzKSAbM7TCkQf8ixk9kKhH1l10kasGvMGMbkREgprYaoABq7pUpZ9bcYghjmdNcE8TKS2id-s2LPwL7I6Y2gkc5Z2HG92WSz4qKAKhTR631UFsGZgq_k6GtNi0AHMBAhGJpikhOVHSRZf0WSCzGT-hODq_DIQSiuKsV2uX1OOUuH4Z7posFhHwqnLuA7xkknKW7ShXTcXVVEj4T5Th-2z51b32plBESN397vcEiAeg5LJrzhWu5AWXIfclQdjkxmf9cc6B_JV-xPhBDkpowNpQjy5h4mGnRZ9Eh87qaKc3gdD--WtBj280EZXFVZJ83GTZif2aL3BWo194fyW41a91ms-KDPKI4Fkgv4MYXvkZkmptWavC_LUPh_FRMxSOzuDwA0nv0O3nEaK=s638-no");
  background-position:0;
  background-repeat:repeat;
  background-size:cover;

/* ANIMATING STUFF */
  animation-name: slide;
  animation-duration: 13s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

/* NOTE CODEPEN AUTOGENERATING -PREFIXES */
@keyframes slide {
  0% {background-position:0 0;}
  16.66% {background-position:0 0;}
  33.32% {background-position:-800px 0;}
  49.98% {background-position:-800px 0;}
  66.64% {background-position:-1600px 0;}
  83.30% {background-position:-1600px 0;}
  100% {background-position:0 0;}
}
